// ================================
// Browse Happy
// ================================

.browse-happy {
	background-color: rgba(setcolor(gray), .95);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 800;

	p {
		display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
		width: 900px;
		font-size: 2em;
		line-height: 1.3em;
		text-align: center;
		color: #fff;

    strong {
      text-decoration: underline;
    }

		a {
			display: inline-block;
			color: #59b6fd;
			line-height: 1em;
			border-bottom: 1px solid rgba(#59b6fd, .2);

			&:hover {
				color: rgba(#59b6fd, .8);
			}
		}
	}
}