// ================================
// Colors
// ================================

// --------------------------------
// Color Map
// --------------------------------

$colors: (
  white: (
    base: #ffffff
  ),
  blue: (
    base: #3F5765
  ),
  green: (
    base: #74A92A,
    dark: #34811E
  ),
  gray: (
    base: #555555,
    light: #D8D8D8
  )
);
