// ================================
// Grid
// ================================

$enable-gridlines: false !default;
$gutter: 30px !default;
$grid-columns: 24 !default;

// Containers
$container-max-widths: (
  sm: rem(568px, $rem-base-multiplyer),
  md: rem(768px, $rem-base-multiplyer),
  lg: rem(1220px, $rem-base-multiplyer),
  xl: rem(1440px, $rem-base-multiplyer)
) !default;
