// ================================
// Typography
// ================================

// Font-Family
$font-oswald: 'Oswald', sans-serif;
$font-open-sans: 'Open Sans', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-lora: 'Lora', serif;
$font-code: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
