{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/base.html' %}

{% block content %}
  <article class="container-xl">
    <p>Grid content here</p>
  </article>
{% endblock %}
