// ================================
// Typography
// ================================


// --------------------------------
// Font Family
// --------------------------------

.font-open-sans {
  font-family: $font-open-sans;
}

.font-lato {
  font-family: $font-lato;
}

.font-code {
  font-family: $font-code;
}


// --------------------------------
// Transform
// --------------------------------

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-initial {
  text-transform: initial;
}


// --------------------------------
// Font Size
// --------------------------------

.h2 {
  @extend %h2;
}

.h3 {
  @extend %h3;
}

.h4 {
  @extend %h4;
}

.type-large {
  @extend %type-large;
}

.type-huge {
  @extend %type-huge;
}

