// ================================
// Video
// ================================

.flex-video {
  position: relative;
  padding-bottom: 62.25%; /* 16:9 */
  padding-top: rem(25px);
  height: 0;
  box-shadow: rem(0 5px 18px 0) rgba(0, 0, 0, 0.37);

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
