<!doctype html>
<html>

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:900|Open+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ pathStyles }}/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    {% include "partials/header.html" %}

    <main>

      {% block content %}{% endblock %}

    </main>

    {% include "partials/footer.html" %}

  </body>  
</html>
