// ================================
// Base & Typography Defaults
// ================================

// --------------------------------
// Pseudo
// --------------------------------

::selection {
  background: #777;
  color: #fff;
  text-shadow: none;
}

// --------------------------------
// General
// --------------------------------

html {
  font-size: 62.5%;
}

body {
  @include font-smoothing;
  background-color: #fff;
  color: setcolor(gray);
  @include setfont(open-sans);
  font-size: $body-font-size;
  line-height: 1.3;
}

a {
  color: setcolor(blue);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: none;
    background-size: 1px 1em;
    box-shadow: inset 0 -0.1em white, inset 0 -0.15em currentColor;
  }
}


// --------------------------------
// Headlines
// --------------------------------

h1,
h2,
h3,
h4,
h5,
h6 {
  @include setfont(lato, 900);
  font-size: rem(22px);
}


// --------------------------------
// Text Components
// --------------------------------

p,
dl,
address {
  @extend %type-regular;
}

p,
li,
dt,
dd {
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: 700;
}

li {
  line-height: 1;
}


