// ================================
// Fonts
// ================================

%container,
.container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: rem($gutter/2);
  padding-right: rem($gutter/2);
}

@each $breakpoint, $width in $container-max-widths {
  .container-#{$breakpoint} {
    @extend %container;
    max-width: $width;
  }
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: rem(-$gutter/2);
  margin-left: rem(-$gutter/2);
}

.row--gutter-narrow {
  margin-right: rem(-$gutter/2);
  margin-left: rem(-$gutter/2);
}

.row--gutter-gapless {
  margin-right: 0;
  margin-left: 0;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

[class*="col-"] {
  box-sizing: border-box;
  flex: 0 0 auto;
  padding-right: rem($gutter/2);
  padding-left: rem($gutter/2);

  // narrow spacing half of gutter spacing
  .row--gutter-narrow > & {
    padding-right: rem($gutter/4);
    padding-left: rem($gutter/4);
  }

  // gapless spacing
  .row--gutter-gapless > & {
    padding-right: 0;
    padding-left: 0;
  }
}

@include columns($grid-columns);
@include column-helpers;

// Display grid lines
@if $enable-gridlines {
  body {
    background-image: linear-gradient(to right, hsla(200, 100%, 50%, .3) 1px, transparent 1px);
    background-position: left -1px;
    background-repeat: repeat;
    background-size: 20px 20px;
  }
}

.row-example {
  display: block;
  background-color: #eee;
  padding: rem(20px); 
}
