// ================================
// Wysiwyg Styles
// ================================

%wysiwyg {

  h1, 
  h2,
  h3,
  h4,
  h5,
  h6 {
    & + p {
      margin-top: rem(15px);
    }
  }

  p,
  li {
    line-height: 1.6;
  }

  > * + * {
    margin-top: rem(30px);
  }

  > * + h1,
  > * + h2,
  > * + h3,
  > * + h4,
  > * + h5,
  > * + h6, {
    margin-top: rem(50px);
  }

  ol,
  ul {
    margin-left: rem(20px);
  }
  
}


// --------------------------------
// Extend Styles
// --------------------------------

.wysiwyg {
  @extend %wysiwyg;
}