// ================================
// Extends
// ================================

%underline {
  text-decoration: none;
  background-size: 1px 1em;
  box-shadow: inset 0 -0.1em white, inset 0 -0.15em currentColor;
}


// --------------------------------
// Headings
// --------------------------------

%h2 {
  font-size: rem(32px);

  @include media(">=xl") {
    font-size: rem(52px);
  }
}

%h3 {
  font-size: rem(22px);

  @include media(">=xl") {
    font-size: rem(32px);
  }
}

%h4 {
  font-size: rem(18px);

  @include media(">=xl") {
    font-size: rem(22px);
  }
}


// --------------------------------
// Copy
// --------------------------------

%type-regular {
  @include type(16, 26);
} 

%type-large {
  @include type(18, 28);

  @include media(">=md") {
    @include type(22, 32);
  }
  @include media(">=xl") {
    @include type(28, 38);
  }
}

%type-huge {
  @include type(68, 76);
  margin-bottom: rem(50px);
}