// ================================
// Columns
// ================================

@mixin columns($columns...) {
  .col-xs {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  @each $i in $columns {
    @for $n from 1 through $i {
      .col-xs-#{$n} {
        flex-basis: ($n / $i) * 100%;
        max-width: ($n / $i) * 100%;
      }

      .col-xs-variable {
        flex-grow: 0;
        flex-basis: 0;
        flex: 0 1 auto;
        max-width: none;
      }
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include media(#{'>=' + $breakpoint}) {
      .col-#{$breakpoint} {
        flex-grow: 1;
        flex-basis: 0;
        max-width: 100%;
      }

      @each $i in $columns {
        @for $n from 1 through $i {
          .col-#{$breakpoint}-#{$n} {
            flex-basis: ($n / $i) * 100%;
            max-width: ($n / $i) * 100%;
          }

          .col-#{$breakpoint}-variable {
            flex-grow: 0;
            flex-basis: 0;
            flex: 0 1 auto;
            max-width: none;
          }
        }
      }
    }
  }
}

// // Generate auto classes for each breakpoint
// @mixin column-auto() {
//   .col-auto {
//     flex-grow: 1;
//     flex-basis: 0;
//     max-width: 100%;
//   }

//   @each $breakpoint in map-keys($breakpoints) {
//     @include media(#{'>=' + $breakpoint}) {
//       .col-#{$breakpoint}-auto {
//         flex-grow: 1;
//         flex-basis: 0;
//         max-width: 100%;
//       }
//     }
//   }
// }

// // Generate reset classes for each breakpoint
// @mixin column-variable() {
//   .col-variable {
//     flex-grow: 0;
//     flex-basis: 0;
//     flex: 0 1 auto;
//     max-width: none;
//   }

//   @each $breakpoint in map-keys($breakpoints) {
//     @include media(#{'>=' + $breakpoint}) {
//       .col-#{$breakpoint}-variable {
//         flex-grow: 0;
//         flex-basis: 0;
//         flex: 0 1 auto;
//         max-width: none;
//       }
//     }
//   }
// }

// Generate flexbox helper classes for each breakpoint
@mixin column-helpers() {
  .start-xs {
    justify-content: flex-start;
    text-align: left;
  }

  .center-xs {
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    justify-content: flex-end;
    text-align: right;
  }

  .top-xs {
    align-items: flex-start;
  }

  .middle-xs {
    align-items: center;
  }

  .bottom-xs {
    align-items: flex-end;
  }

  .around-xs {
    justify-content: space-around;
  }

  .between-xs {
    justify-content: space-between;
  }

  .first-xs {
    order: -1;
  }

  .last-xs {
    order: 1;
  }

  @each $breakpoint in map-keys($breakpoints) {
    @include media(#{'>=' + $breakpoint}) {
      .start-#{$breakpoint} {
        justify-content: flex-start;
        text-align: left;
      }

      .center-#{$breakpoint} {
        justify-content: center;
        text-align: center;
      }

      .end-#{$breakpoint} {
        justify-content: flex-end;
        text-align: right;
      }

      .top-#{$breakpoint} {
        align-items: flex-start;
      }

      .middle-#{$breakpoint} {
        align-items: center;
      }

      .bottom-#{$breakpoint} {
        align-items: flex-end;
      }

      .around-#{$breakpoint} {
        justify-content: space-around;
      }

      .between-#{$breakpoint} {
        justify-content: space-between;
      }

      .first-#{$breakpoint} {
        order: -1;
      }

      .last-#{$breakpoint} {
        order: 1;
      }
    }
  }
}
