// ================================
// Set: Font
// ================================

// Temporary variable for selecting svg url hash
$font-family-svg: "Font-Family-Name";

// Mixin for generating @font-face declaration
@mixin declare-font-face($font-family, $font-subpath, $font-filename, $font-weight: normal, $font-style: normal, $font-stretch: normal) {
  @font-face {
    font-family: '#{$font-family}';
    src: url('#{$dir-fonts}#{$font-subpath}#{$font-filename}.woff2') format('woff2'),
         url('#{$dir-fonts}#{$font-subpath}#{$font-filename}.woff') format('woff');// Change back to $font-family instead of $font-family-svg
    font-weight: $font-weight;
    font-style: $font-style;
    font-stretch: $font-stretch;
  }
}


// --------------------------------
// Generate @font-face
// --------------------------------

// Font-Name: Weight
// @include declare-font-face('Font-Name', 'font-folder/', "font-file-name", 500, normal, normal);


// --------------------------------
// Font Mixin
// --------------------------------

// ex: @include setfont(font-one, 400)
// First value is your $family and second value is your weight

@mixin setfont($family: sans-serif, $weight: normal) {

  // Default Font Stack
  @if $family == "default" {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }

  // Open Sans
  @if $family == "open-sans" {
    font-family: $font-open-sans;
  }

  // Lato
  @if $family == "lato" {
    font-family: $font-lato;
  }

  font-weight: $weight;
}
